body{
    padding: 0;
    margin: 0;
}

.wrap{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.imagem-git{
    width: 100px;
    height: 100px;
}
h1{

    color: #fff;
}